<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="project.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    angular.module('my-app', [])
        .controller('ShipmentController', function ($scope, $http, $location) {
            $scope.shipments = [];
            $scope.searchField = '';
            $scope.searchValue = '';
            $scope.currentPage = 1;
            $scope.pageSize = 7;

            $scope.fetchStatus = function (shipment) {
                $http.get('https://localhost:44324/api/status/' + shipment.StatusId)
                    .then(function success(response) {
                        shipment.StatusName = response.data.Name;
                    }, function error(response) {
                        console.error('Error fetching status:', response);
                    });
            };

            $scope.fetchShipments = function () {
                $http.get('https://localhost:44324/api/shipment/all')
                    .then(function success(response) {
                        $scope.shipments = response.data;

                        angular.forEach($scope.shipments, function (shipment) {
                            $scope.fetchStatus(shipment);
                        });
                    }, function error(response) {
                        console.error('Error fetching shipments:', response);
                    });
            };

            $scope.searchShipments = function () {
                var searchURL = 'https://localhost:44324/api/shipment/search?field=' + $scope.searchField + '&value=' + $scope.searchValue;

                $http.get(searchURL)
                    .then(function success(response) {
                        $scope.shipments = response.data;

                        angular.forEach($scope.shipments, function (shipment) {
                            $scope.fetchStatus(shipment);
                        });

                        $scope.currentPage = 1;
                    }, function error(response) {
                        console.error('Error searching shipments:', response);
                    });
            };

            $scope.deleteShipment = function (trackingToken) {
                if (confirm('Are you sure you want to delete this shipment?')) {
                    $http.delete('https://localhost:44324/api/shipment/delete/' + trackingToken)
                        .then(function success(response) {
                            $scope.fetchShipments();
                        }, function error(response) {
                            console.error('Error deleting shipment:', response);
                        });
                }
            };

            $scope.prevPage = function () {
                if ($scope.currentPage > 1) {
                    $scope.currentPage--;
                }
            };

            $scope.nextPage = function () {
                var totalPages = Math.ceil($scope.shipments.length / $scope.pageSize);
                if ($scope.currentPage < totalPages) {
                    $scope.currentPage++;
                }
            };

            $scope.$watch('shipments.length', function (newVal) {
                $scope.totalPages = Math.ceil(newVal / $scope.pageSize);
            });

            $scope.fetchShipments();
        });
</script>

<body ng-app="my-app">
    <div ng-controller="ShipmentController">
        <h1>Shipment Details</h1>
        <label for="searchField">Search by:</label>
        <select id="searchField" ng-model="searchField">
            <option value="trackingToken">Tracking Token</option>
            <option value="statusName">Status</option>
            <option value="CustomerId">Customer ID</option>
            <option value="ReceiverId">Receiver ID</option>
            <option value="ShipperId">Shipper ID</option>
            <option value="Destination">Destination</option>
            <option value="From">From</option>
        </select>
        <input type="text" ng-model="searchValue">
        <button ng-click="searchShipments()">Search</button>



        <table>
            <thead>
                <tr>
                    <th>Tracking Token</th>
                    <th>Customer ID</th>
                    <th>Receiver ID</th>
                    <th>Shipper ID</th>
                    <th>Destination</th>
                    <th>From</th>
                    <th>Estimated Delivery Time</th>
                    <th>Current Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shipment in shipments | limitTo: pageSize : (currentPage - 1) * pageSize">
                    <td>{{ shipment.TrackingToken }}</td>
                    <td>{{ shipment.CustomerId }}</td>
                    <td>{{ shipment.ReceiverId }}</td>
                    <td>{{ shipment.ShipperId }}</td>
                    <td>{{ shipment.Destination }}</td>
                    <td>{{ shipment.From }}</td>
                    <td>{{ shipment.EstimatedDeliveryTime }}</td>
                    <td>{{ shipment.StatusName }}</td>
                    <td>
                        <a ng-href="update-courier.html?trackingToken={{ shipment.TrackingToken }}">Edit</a>
                    </td>
                    <td>
                        <button ng-click="deleteShipment(shipment.TrackingToken)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paging controls -->
        <div id="pagination">
            <button ng-click="prevPage()" ng-disabled="currentPage === 1">Previous</button>
            Page {{ currentPage }} of {{ totalPages }}
            <button ng-click="nextPage()" ng-disabled="currentPage === totalPages">Next</button>
        </div>
    </div>


</body>

</html>