<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="project.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    angular.module('my-app', [])
        .controller('ShipmentController', function ($scope, $http, $window) {
            $scope.shipment = {
                CustomerId: null,
                ReceiverId: null,
                ShipperID: null,
                Destination: '',
                From: '',
                EstimatedDeliveryTime: null
            };


            $http.get('https://localhost:44324/api/customer/all')
                .then(function success(response) {
                    $scope.CustomerIds = response.data.map(function (customer) {
                        return customer.Id;
                    });
                }, function error(response) {
                    console.error('Error fetching customer IDs:', response);
                });


            $http.get('https://localhost:44324/api/receiver/all')
                .then(function success(response) {
                    $scope.ReceiverIds = response.data.map(function (receiver) {
                        return receiver.Id;
                    });
                }, function error(response) {
                    console.error('Error fetching receiver IDs:', response);
                });

            $http.get('https://localhost:44324/api/shipper/all')
                .then(function success(response) {
                    $scope.shippers = response.data;

                    // $scope.ShipperNames = response.data.map(function (shipper) {
                    //     return shipper.Name;
                    // });

                }, function error(response) {
                    console.error('Error fetching receiver IDs:', response);
                });




            $scope.addShipment = function () {
                $http.post('https://localhost:44324/api/shipment/create', $scope.shipment)
                    .then(function success(response) {
                        console.log('Shipment created:', response.data);
                        $scope.updatedData = response.data;

                        $http.get('https://localhost:44324/api/status/' +  $scope.updatedData.StatusId)
                            .then(function success(resp) {
                                console.log('Status received', resp);
                                $scope.status = resp.data;
                                // debugger;
                            }, function error(resp) {
                                console.error('Error getting status:', resp);
                                // debugger;
                            });

                        $scope.shipmentAdded = true;
                    }, function error(response) {
                        console.error('Error creating shipment:', response);
                    });
            };

            $scope.finish = function () {
                var url = "dashboard.html";
                $window.location.href = url;
            };
        });
</script>

<body ng-app="my-app" ng-controller="ShipmentController">
    <div ng-show="!shipmentAdded">
        <h1>Add Shipment</h1>
        <form>
            <div>
                <label for="CustomerId">Customer ID:</label>
                <select id="CustomerId" ng-model="shipment.CustomerId" required>
                    <option value="" disabled>Select Customer ID</option>
                    <option ng-repeat="CustomerId in CustomerIds" value="{{CustomerId}}">{{CustomerId}}</option>
                </select>
            </div>
            <div>
                <label for="ReceiverId">Receiver ID:</label>
                <select id="ReceiverId" ng-model="shipment.ReceiverId" required>
                    <option value="" disabled>Select Receiver ID</option>
                    <option ng-repeat="ReceiverId in ReceiverIds" value="{{ReceiverId}}">{{ReceiverId}}</option>
                </select>
            </div>

            <div>
                <label for="ShipperID">Shipper :</label>
                <select id="ShipperID" ng-model="shipment.ShipperID" required>
                    <option value="" disabled>Select Shipper</option>
                    <option ng-repeat="shipper in shippers" value="{{ shipper.ID }}">{{ shipper.Name }}</option>
                </select>
            </div>

            <div>
                <label for="Destination">Destination:</label>
                <input type="text" id="Destination" ng-model="shipment.Destination" required>
            </div>
            <div>
                <label for="From">From:</label>
                <input type="text" id="From" ng-model="shipment.From" required>
            </div>
            <div>
                <label for="EstimatedDeliveryTime">Estimated Delivery Time:</label>
                <input type="datetime-local" id="EstimatedDeliveryTime" ng-model="shipment.EstimatedDeliveryTime"
                    required>
            </div>
            <div>
                <button type="button" ng-click="addShipment()">Add Shipment</button>
            </div>
        </form>
    </div>

    <div ng-show="shipmentAdded">
        <h1>Shipment Details Added</h1>

        <p><strong>Customer ID:</strong> {{ shipment.CustomerId }}</p>
        <p><strong>Receiver ID:</strong> {{ shipment.ReceiverId }}</p>
        <p><strong>Shipper ID:</strong> {{ shipment.ShipperID }}</p>
        <p><strong>Destination:</strong> {{ shipment.Destination }}</p>
        <p><strong>From:</strong> {{ shipment.From }}</p>
        <p><strong>Tracking Token:</strong> {{ updatedData.TrackingToken }}</p>
        <p><strong>Status:</strong> {{ status.Name }}</p>
        <p><strong>Created at:</strong> {{ updatedData.CreatedAt }}</p>
        <p><strong>Estimated Delivery Time:</strong> {{ shipment.EstimatedDeliveryTime }}</p>

        <div>
            <button type="button" ng-click="finish()">Done</button>
        </div>
    </div>


</body>

</html>